{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href={% static 'style.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo">DCM</a>
      

      {% if user.is_authenticated%}
      <div class='admin'>
      <div class="login">{{user.username}}</div>
      <img
                    class="image"
                    src="/media/blank.png"
                    alt="Contact image"
                  />
      </div>
      {%else%}
      <a href="login" class="login">Log in</a>
      {%endif%}
    </header>
    <div class='container'>
      <div class="heading">
        <div class="caption ">
          <h1>CONTACTS</h1>
        {% if user.is_authenticated%}
          <button class="add_btn" type="submit" onclick="showForm()">+ New Contact</button>
        {% endif%}
        </div>
      <div class="flex">
        <form action="" Met>
            <input type="text" placeholder="Search by Name" class="search_input">
      
          <button class="conf_Yes" type="submit">
            <i class="fas fa-filter"></i>  Filter</button>
        </form>
      </div>
       {% if editForm %}
        <div class="edit_form">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form_img"><img src={{edit_form.Name}} /></div>
            {{ editForm.as_p }}
            <div class="sub_btns">
              <button
                class="close_btn"
                type="submit"
                name="edited"
                value="{{ contact_id }}"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
        {% else %}
        <div class="popup_form" id="form">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ addForm.as_p }}
            <div class="sub_btns">
              <button class="close_btn" type="button" onclick="closeForm()">
                Cancel
              </button>
              <button
                class="close_btn"
                type="submit"
                value="add"
                onclick="closeForm()"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
        {% endif %}

        <div class="prompt" id="prompt">
          <p>Delete this contact?</p>
          <div class="confirm_btns">
            <button class="conf_No" onclick="closePrompt()">No</button>
            <a id="del_link" href="#"
              ><button class="conf_Yes" onclick="closePrompt()">Yes</button></a
            >
          </div>
        </div>
      </div>

        <div class="table">
          <table>
            <thead >
              <tr class="table_head ">
                <th>Picture</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>E-mail</th>
                <th>Location</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts reversed%}
              <tr>
                <td>
                  <img
                    class="image"
                    src="{{contact.picture.url}}"
                  />
                </td>
                <td>{{contact.name}}</td>
                <td>{{contact.phone_number}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.address}}</td>
                {% if user.is_authenticated%}
                <td>
                  <form action="" method="post">
                    {%csrf_token%}
                    <button
                      onclick="edit"
                      class="edit_btn"
                      name="edit"
                      value="{{contact.id}}"
                    >
                    <i class="fas fa-edit"></i>
                    </button>
                  </form>
                </td>
                <td>
                  <button class="del_btn" value="{{contact.id}}"><i class="fas fa-trash"></i></button>

                </td>
                {%else%}
                <td></td>
                <td></td>
                {% endif%}
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      const form = document.getElementById("form");
      const prompt = document.getElementById("prompt");
      const delete_link = document.getElementById("del_link");
      const delete_btns = document.querySelectorAll(".del_btn");
      delete_btns.forEach(function (btn) {
        btn.addEventListener("click", function () {
          showPrompt();
          const btn_value = btn.value;
          delete_link.href = "del/" + btn_value;
        });
      });

      function showForm() {
        form.classList.add("open_form");
      }
      function closeForm() {
        form.classList.remove("open_form");
      }
      function showPrompt() {
        prompt.classList.add("show_prompt");
      }
      function closePrompt() {
        prompt.classList.remove("show_prompt");
      }
    </script>
  </body>
</html>
